[submodule "Vitevic.Foundation"]
	path = Vitevic.Foundation
	url = git@git.local:Vitevic/Vitevic.Foundation.git
[submodule "Vitevic.Vsx"]
	path = Vitevic.Vsx
	url = git@git.local:Vitevic/Vitevic.Vsx.git
