<?xml version="1.0" encoding="UTF-8"?>
<?define TargetsFile="$(var.SolutionDir)\MsBuild\Microsoft.Common.targets\ImportAfter\Vitevic.AssemblyEmbedder.targets" ?>
<?include Constants.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">

        <Directory Id="MSBuildExtensionsFolder" Name="MSBuild"/>

        <Directory Id="GAC" Name="GAC">
          <Component Id="MsBuildTaskDll">
            <File Source="$(var.Vitevic.AssemblyEmbedder.MsBuild.TargetPath)" Assembly=".net" KeyPath="yes"/>
          </Component>
        </Directory>

      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="MSBuildExtensionsFolder">
      <Directory Id="MSBuildExtensions4Folder" Name="4.0">
        <Directory Id="CommonTargets4" Name="Microsoft.Common.Targets">
          <Directory Id="ImportAfter4" Name="ImportAfter">
            <Component Id="MsBuild40Targets" Guid="$(var.MSBuild4TargetGuid)">
              <File Id="MsBuild40TargetsFile" Source="$(var.TargetsFile)"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="MSBuildExtensionsFolder">
      <Directory Id="MSBuildExtensions12Folder" Name="12.0">
        <Directory Id="CommonTargets12" Name="Microsoft.Common.Targets">
          <Directory Id="ImportAfter12" Name="ImportAfter">
            <Component Id="MsBuild12Targets" Guid="$(var.MSBuild12TargetGuid)">
              <File Id="MsBuild12TargetsFile" Source="$(var.TargetsFile)"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="MSBuildExtensionsFolder">
      <Directory Id="MSBuildExtensions14Folder" Name="14.0">
        <Directory Id="CommonTargets14" Name="Microsoft.Common.Targets">
          <Directory Id="ImportAfter14" Name="ImportAfter">
            <Component Id="MsBuild14Targets" Guid="$(var.MSBuild14TargetGuid)">
              <File Id="MsBuild14TargetsFile" Source="$(var.TargetsFile)"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="MSBuildExtensionsFolder">
      <Directory Id="MSBuildExtensions15Folder" Name="Current">
        <Directory Id="CommonTargets15" Name="Microsoft.Common.Targets">
          <Directory Id="ImportAfter15" Name="ImportAfter">
            <Component Id="MsBuild15Targets" Guid="$(var.MSBuild15TargetGuid)">
              <File Id="MsBuild15TargetsFile" Source="$(var.TargetsFile)"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
    
  <Fragment>
    <PropertyRef Id="VS2019_ROOT_FOLDER" />
      
    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="VS2019_ROOT_FOLDER" Name="VS2019_ROOT_FOLDER">
        <Directory Id="MSBuild16Folder" Name="MSBuild">
          <Directory Id="MSBuildExtensions16Folder" Name="Current">
            <Directory Id="CommonTargets16" Name="Microsoft.Common.Targets">
              <Directory Id="ImportAfter16" Name="ImportAfter">
              <Component Id="MsBuild16Targets" Guid="$(var.MSBuild16TargetGuid)">
                  <File Id="MsBuild16TargetsFile" Source="$(var.TargetsFile)"/>
              </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>