<?xml version="1.0" encoding="UTF-8"?>
<?include Constants.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">

  <Product Id="$(var.ProductId)" Name="$(var.ProductFullName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductAuthor)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Feature Id="VS2010Feature" Title="Visual Studio 2010" Level="1">
      <ComponentRef Id="MsBuildTaskDll"/>
      <ComponentRef Id="MsBuild40Targets"/>
      <ComponentGroupRef Id="VS2010_AssemblyEmbedder"/>
    </Feature>

    <Feature Id="VS2012Feature" Title="Visual Studio 2012" AllowAdvertise="yes" Level="1">
      <ComponentRef Id="MsBuildTaskDll"/>
      <ComponentRef Id="MsBuild12Targets"/>
      <ComponentGroupRef Id="VS2012_AssemblyEmbedder"/>
    </Feature>

    <Feature Id="VS2013Feature" Title="Visual Studio 2013" AllowAdvertise="yes" Level="1">
      <ComponentRef Id="MsBuildTaskDll"/>
      <ComponentRef Id="MsBuild12Targets"/>
      <ComponentGroupRef Id="VS2013_AssemblyEmbedder"/>
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="License.rtf"/>
    <UIRef Id="Vitevic_VS"/>

    <Icon Id="MainIcon" SourceFile="$(var.Vitevic.AssemblyEmbedder.TargetDir)logo_small2.ico"/>    
    <Property Id="ARPPRODUCTICON" Value="MainIcon" />
    <!--<WixVariable Id="WixUIDialogBmp" Value="..\..\..\dlgbmp.bmp" />-->
    <WixVariable Id="WixUIBannerBmp" Value="..\..\..\bannrbmp.bmp" />

  </Product>
</Wix>