<?xml version="1.0" encoding="UTF-8"?>
<?include Constants.wxi ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:vs="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Fragment>
    <PropertyRef Id="VS2013_EXTENSIONS_DIR"/>

    <DirectoryRef Id="ProgramFilesFolder">
      <Directory Id="VS2013_EXTENSIONS_DIR" Name="Extensions2013"> <!-- Extensions2013 is not a valid name, it's workaround for ICE30 -->
        <Directory Id="VS2013_VitevicDir" Name="$(var.ProductAuthor)">
          <Directory Id="VS2013_AssemblyEmbedderDir" Name="$(var.ProductName)"/>
        </Directory>
      </Directory>
    </DirectoryRef>

  </Fragment>

  <Fragment>
    <PropertyRef Id="VS2013DEVENV"/>
    
    <ComponentGroup Id="VS2013_AssemblyEmbedder" Directory="VS2013_AssemblyEmbedderDir">
      <Component Guid="$(var.Vs2013MainGuid)">
        <File Id="VS2013_AssemblyEmbedder.dll" Source="$(var.Vitevic.AssemblyEmbedder.TargetPath)" KeyPath="yes"/>
        <util:RestartResource Id="Restart2013" Path="[VS2013DEVENV]" />
      </Component>
      <Component Guid="{04185822-F723-4DD3-8B59-38E6C1726A4C}">
        <File Id="VS2013_extension.vsixmanifest" Source="$(var.Vitevic.AssemblyEmbedder.TargetDir)extension.vsixmanifest" KeyPath="yes"/>
      </Component>
      <Component Guid="{FC978798-E61F-42EE-A947-7C20A34200FD}">
        <File Id="VS2013_logo_small2.ico" Source="$(var.Vitevic.AssemblyEmbedder.TargetDir)logo_small2.ico" KeyPath="yes"/>
      </Component>
      <Component Guid="{C12B8E8C-3F31-45F3-845C-512A41E4FEC7}">
        <File Id="VS2013_Vitevic.AssemblyEmbedder.pkgdef" Source="$(var.Vitevic.AssemblyEmbedder.TargetDir)Vitevic.AssemblyEmbedder.pkgdef" KeyPath="yes"/>
      </Component>
      <Component Guid="{49912D0A-67A8-4A52-801C-AE087795B793}">
        <File Id="VS2013_Vitevic.Foundation.dll" Source="$(var.Vitevic.AssemblyEmbedder.TargetDir)Vitevic.Foundation.dll" KeyPath="yes"/>
      </Component>
      <Component Guid="{AE524FD0-7FFA-40DB-87C1-B8C4190E1EAC}">
        <File Id="VS2013_Vitevic.Vsx.dll" Source="$(var.Vitevic.AssemblyEmbedder.TargetDir)Vitevic.Vsx.dll" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>